<div class="modal fade" id="modalAddressDeleteConfirm" tabindex="-1" role="dialog"
     aria-labelledby="modalAddressDeleteConfirm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddressDeleteConfirmLabel">Подтверждение удаления адреса</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы действительно хотите удалить адрес <b class="address-value">...</b> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger btn-delete">Удалить</button>
      </div>
    </div>
  </div>
</div>
