<div class="modal fade" id="modalSubmitMessage" tabindex="-1" role="dialog" aria-labelledby="modalSubmitMessage"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSubmitMessageLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="data-message-value"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
