<div class="modal fade" id="modalAddressMap" tabindex="-1" role="dialog" aria-labelledby="modalAddressMap"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddressMapLabel">Выберите точку на карте</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="google-map" style="padding-bottom: 75%;"></div>
        <div class="alert alert-light" id="get-cords-result" role="alert">
          Нажмите на карту чтобы получить координаты.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
