<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Действие
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"
       data-toggle="modal"
       data-target="#modalAddressAddComment">Добавить комментарий</a>
    <a class="dropdown-item" href="address-view.html">Просмотреть</a>
    <a class="dropdown-item" href="https://maps.google.com/maps?q=loc:36.26577,-92.54324">На
      карте</a>
    <a class="dropdown-item" href="address-edit.html">Управление</a>
    <a class="dropdown-item dropdown-item-delete" href="#"
       data-toggle="modal"
       data-target="#modalAddressDeleteConfirm"
       data-address-id="123"
       data-title="м. Одеса, пр-т. Ак. Глушка,14">Удалить</a>
  </div>
</div>
