<table id="addressListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Адрес</th>
    <th>Код лицензии</th>
    <th>Начало лицензии</th>
    <th>Окончание лицензии</th>
    <th>Статус</th>
    <th>Операции</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Адрес</th>
    <th>Код лицензии</th>
    <th>Начало лицензии</th>
    <th>Окончание лицензии</th>
    <th>Статус</th>
    <th>Операции</th>
  </tr>
  </tfoot>
  <tbody>

  <!-- Server-side processing -->

  <tr>

    <td>м. Одеса, пр-т. Ак. Глушка,14</td>
    <td>234872364233445</td>
    <td>14.05.2017</td>
    <td>20.03.2018</td>
    <td>Активно</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действие
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item dropdown-item-add-comment" href="#"
             data-toggle="modal"
             data-address-id="123"
             data-title="м. Одеса, пр-т. Ак. Глушка,14"
             data-target="#modalAddressAddComment"
          >
            Добавить комментарий
          </a>

          <a class="dropdown-item" href="address-view.html">Просмотреть</a>
          <a class="dropdown-item" href="https://maps.google.com/maps?q=loc:36.26577,-92.54324">На
            карте</a>
          <a class="dropdown-item" href="address-edit.html">Управление</a>
          <a class="dropdown-item dropdown-item-delete" href="#"
             data-toggle="modal"
             data-address-id="123"
             data-target="#modalAddressDeleteConfirm"
             data-title="м. Одеса, пр-т. Ак. Глушка,14">Удалить</a>
        </div>
      </div>

    </td>
  </tr>
  <tr>

    <td>м. Одеса, пр-т. Ак. Глушка,14</td>
    <td>234872364233445</td>
    <td>14.05.2017</td>
    <td>20.03.2018</td>
    <td>Активно</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действие
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item dropdown-item-add-comment" href="#"
             data-toggle="modal"
             data-title="м. Одеса, пр-т. Ак. Глушка,14"
             data-target="#modalAddressAddComment"
          >
            Добавить комментарий
          </a>

          <a class="dropdown-item" href="address-view.html">Просмотреть</a>
          <a class="dropdown-item" href="https://maps.google.com/maps?q=loc:36.26577,-92.54324">На
            карте</a>
          <a class="dropdown-item" href="address-edit.html">Управление</a>
          <a class="dropdown-item dropdown-item-delete" href="#"
             data-toggle="modal"
             data-address-id="123"
             data-target="#modalAddressDeleteConfirm"
             data-title="м. Одеса, пр-т. Ак. Глушка,14">Удалить</a>
        </div>
      </div>

    </td>
  </tr>
  <tr>

    <td>м. Одеса, пр-т. Ак. Глушка,14</td>
    <td>234872364233445</td>
    <td>14.05.2017</td>
    <td>20.03.2018</td>
    <td>Активно</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действие
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item dropdown-item-add-comment" href="#"
             data-toggle="modal"
             data-title="м. Одеса, пр-т. Ак. Глушка,14"
             data-target="#modalAddressAddComment"
          >
            Добавить комментарий
          </a>

          <a class="dropdown-item" href="address-view.html">Просмотреть</a>
          <a class="dropdown-item" href="https://maps.google.com/maps?q=loc:36.26577,-92.54324">На
            карте</a>
          <a class="dropdown-item" href="address-edit.html">Управление</a>
          <a class="dropdown-item dropdown-item-delete" href="#"
             data-toggle="modal"
             data-address-id="123"
             data-target="#modalAddressDeleteConfirm"
             data-title="м. Одеса, пр-т. Ак. Глушка,14">Удалить</a>
        </div>
      </div>

    </td>
  </tr>

  </tbody>
</table>
