<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="homepage.html">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <img src="../assets/static/images/logo.png" alt="">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Legalexcise</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="homepage.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
          <span class="title">Главная</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="address-list.html">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-map"></i>
                  </span>
          <span class="title">Адреса</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="analytics.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
          <span class="title">Аналитика</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="updates.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
          <span class="title">Обновления</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="history.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
          <span class="title">История</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="history.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
          <span class="title">Отчёты</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="complaint-list.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
          <span class="title">Жалобы</span>
        </a>
      </li>
    </ul>
  </div>
</div>
