<div class="header navbar">
  <div class="header-container">
    <ul class="nav-right">
      <li class="dropdown">
        <div style="margin: 15px 0;" >
          <select id="intlToggle" class="form-control">


          </select>
        </div>

      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
          <div class="peer mR-10">
            <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
          </div>
          <div class="peer">
            <span class="fsz-sm c-grey-900">Иван Иванов</span>
          </div>
        </a>
        <ul class="dropdown-menu fsz-sm">
          <li>
            <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
              <i class="ti-power-off mR-10"></i>
              <span>Выйти</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
