<div class="modal fade" id="modalComplaintDfsDepartmentCode" tabindex="-1" role="dialog" aria-labelledby="modalComplaintDfsDepartmentCode"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Код отдела ДФС:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="addressCommentForm">
          <div class="form-group">
            <label>Указать Код отдела ДФС</label>
            <input type="text" name="dfs_department_code" class="form-control" placeholder="">
            <div class="invalid-feedback"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-success btn-add">Добавить</button>
      </div>
    </div>
  </div>
</div>
