<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <%= require('html-loader!./components/_breadcrumb.html') %>

            <h4 class="c-grey-900 mB-20">Управление адресом: м. Одеса, пр-т. Ак. Глушка, 14</h4>
            <form id="formAccountingEdit" >

              <div class="form-group">
                <label>
                  На розгляді в управлінні контролю за обігом та оподаткуванням підакцизних товарів ( сумма за все время
                  )
                </label>
                <input type="number" name="examination_of_excisable_goods" class="form-control">
                <div class="invalid-feedback"></div>
              </div>

              <div class="form-group">
                <label>
                  Передано до ОУ
                </label>
                <input type="number" name="transferred_to_the_oy" class="form-control">
                <div class="invalid-feedback"></div>
              </div>

              <div class="form-group">
                <label>
                  Знаходяться в ГУ НП (продаж неповнолітнім)
                </label>
                <input type="number" name="sale_to_minors" class="form-control">
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group alert alert-danger invisible" id="formError">

              </div>
              <div class="form-group">
                <button type="reset" class="btn btn-primary">
                  Сбросить форму
                </button>
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= require('html-loader!./components/_footer.html') %>
  </div>
</div>
<!-- Modal address delete confirmation -->
<%= require('html-loader!./components/modals/_modalAddressDeleteConfirm.html') %>

<!-- Modal pre loader -->
<%= require('html-loader!./components/modals/_modalPreLoader.html') %>

<!-- Modal submit message -->
<%= require('html-loader!./components/modals/_modalSubmitMessage.html') %>

<%= require('html-loader!./components/modals/_modalAddressMap.html') %>

</body>
</html>
