<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blank</title>
    <style>
        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden;
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            100% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                opacity: 0;
            }
        }
    </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <%= require('html-loader!./components/_sidebar.html') %>

    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $Topbar ### -->
        <%= require('html-loader!./components/_topbar.html') %>

        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
                <div class="full-container">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <%= require('html-loader!./components/_breadcrumb.html') %>

                        <h4 class="c-grey-900 mB-20">Управление адресом: м. Одеса, пр-т. Ак. Глушка, 14</h4>
                        <form id="formAddressEdit" class="row">
                            <div class="col-md-3 form-group">
                                <label for="inputINN">ИНН</label>
                                <input type="text" name="id_code" class="form-control" id="inputINN"
                                       placeholder="Введите ИНН">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputAddress">Адрес</label>
                                <input type="text" name="address" class="form-control" id="inputAddress"
                                       placeholder="Введите адрес">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Код лицензии</label>
                                <input type="text" name="license" class="form-control" id="inputLicenseCode"
                                       placeholder="Введите код лицензии">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputStatus">Статус</label>
                                <select id="inputStatus" name="status" class="form-control">
                                    <option value="active">Активен</option>
                                    <option value="disabled">Заблокирован</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Широта</label>
                                <input type="text" name="lat" class="form-control" id="inputLat"
                                       placeholder="Введите ширату">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Долгота</label>
                                <input type="text" name="lng" class="form-control" id="inputLong"
                                       placeholder="Введите долготу">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Широта/Долгота</label>
                                <a id="get-cords-from-map" class="form-control btn btn-primary" href="#"
                                   data-toggle="modal"
                                   data-target="#modalAddressMap">
                                    Выбрать на карте
                                </a>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputCompany">Тип объекта</label>
                                <input type="text" name="company" class="form-control" id="inputCompany"
                                       placeholder="company">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Тип объекта</label>
                                <input type="text" name="company_type" class="form-control" id="inputObjectType"
                                       placeholder="company_type">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Начало лицензии</label>
                                <input type="text" name="license_start_at" class="form-control start-date"
                                       placeholder="дд.мм.гггг" data-provide="datepicker">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputLicenseCode">Конец лицензии</label>
                                <input type="text" name="license_end_at" class="form-control start-date"
                                       placeholder="дд.мм.гггг" data-provide="datepicker">
                                <div class="invalid-feedback"></div>
                            </div>
                            <!--confiscated_goods, protocol_drawn_up, financial_sanctions-->
                            <div class="col-md-3 form-group">
                                <label for="inputConfiscatedGoods">Конфискованная продукция</label>
                                <input type="text" id="inputConfiscatedGoods" name="confiscated_goods"
                                       class="form-control" placeholder="confiscated_goods">
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="inputProtocolDrawnUp">Составлен протокол от</label>
                                <input type="text" name="protocol_drawn_up" id="inputProtocolDrawnUp"
                                       class="form-control start-date" placeholder="дд.мм.гггг"
                                       data-provide="datepicker">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputFinancialSanctions">Применена финансовая санкция</label>
                                <input type="text" name="financial_sanctions" id="inputFinancialSanctions"
                                       class="form-control" placeholder="financial_sanctions">
                                <div class="invalid-feedback"></div>
                            </div>


                            <div class="col-md-12">
                                <a href="address-list.html" class="btn btn-secondary btn-cancel">Отмена</a>
                                <a class="btn btn-danger dropdown-item-delete" href="#"
                                   data-toggle="modal"
                                   data-target="#modalAddressDeleteConfirm"
                                   data-address-id="1234324"
                                   data-title="м. Одеса, пр-т. Ак. Глушка,14">
                                    Удалить
                                </a>

                                <button type="button" data-address-id="1234324"
                                        data-title="м. Одеса, пр-т. Ак. Глушка,14"
                                        class="btn btn-primary address-submit">
                                    Сохранить
                                </button>
                                <button type="button" data-address-id="1234324"
                                        data-title="м. Одеса, пр-т. Ак. Глушка,14" data-redirect="true"
                                        class="btn btn-success address-submit">Сохранить и закрыть
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <%= require('html-loader!./components/_footer.html') %>
    </div>
</div>
<!-- Modal address delete confirmation -->
<%= require('html-loader!./components/modals/_modalAddressDeleteConfirm.html') %>

<!-- Modal pre loader -->
<%= require('html-loader!./components/modals/_modalPreLoader.html') %>

<!-- Modal submit message -->
<%= require('html-loader!./components/modals/_modalSubmitMessage.html') %>

<%= require('html-loader!./components/modals/_modalAddressMap.html') %>

</body>
</html>
