<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container">

          <div class="bgc-white bd bdrs-3 p-20 mB-20">

            <%= require('html-loader!./components/_breadcrumb.html') %>

            <h4 class="c-grey-900 mB-20">Данные по адресу: м. Одеса, пр-т. Ак. Глушка, 14</h4>
            <table class="table table-bordered">
              <tr>
                <th scope="col">ИНН</th>
                <td>345345345398453</td>
              </tr>
              <tr>
                <th scope="col">Широта</th>
                <td>45.234565</td>
              </tr>
              <tr>
                <th scope="col">Долгота</th>
                <td>55.234565</td>
              </tr>
              <tr>
                <th scope="col">Код лицензии</th>
                <td>4238476234237</td>
              </tr>
              <tr>
                <th scope="col">Название</th>
                <td>Рога и копыта</td>
              </tr>
              <tr>
                <th scope="col">Тип объекта</th>
                <td>Киоск</td>
              </tr>
              <tr>
                <th scope="col">Тип лицензии</th>
                <td>Алкогольная</td>
              </tr>
              <tr>
                <th scope="col">Статус</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Комментарий</th>
                <td>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur fermentum tempor tortor in venenatis. Donec accumsan suscipit tellus aliquam posuere. Sed
                  auctor massa turpis,
                  quis tincidunt est luctus eget. Praesent quis mauris in tellus lacinia sollicitudin. Integer sed
                  bibendum diam. Proin id elementum erat.
                  Nulla pharetra eros tellus, et blandit sem laoreet sit amet. Nunc scelerisque urna est, et egestas
                  purus aliquet vel. Phasellus magna odio, malesuada eget erat sed,
                  vulputate finibus odio. Morbi ac enim mauris. Sed egestas scelerisque lacus, sit amet cursus eros
                  laoreet eu. Sed tincidunt massa at ante dignissim,
                  nec aliquet odio vestibulum.
                </td>
              </tr>
              <tr>
                <th scope="col">Дата создания</th>
                <td>12.01.2017 14:23</td>
              </tr>
              <tr>
                <th scope="col">Дата редактирования</th>
                <td>21.12.2017 14:23</td>
              </tr>
              <tr>
                <th scope="col">Статус</th>
                <td>Активная</td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Copyright © 2017 Designed by <a href="https://colorlib.com" target='_blank' title="Colorlib">Colorlib</a>. All rights reserved.</span>
    </footer>
  </div>
</div>
</body>
</html>
