<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>


  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= require('html-loader!./components/_breadcrumb.html') %>
            </div>


            <div class="col-md-12">
              <div class="bgc-white bd bdrs-3 p-20 mB-20">

                  <div class="d-flex flex-row justify-content-between">
                      <div class="">
                          <h4 class="c-grey-900 mB-20">
                              Адреса
                          </h4>
                      </div>
                      <div class="">
                          <a href="" class="btn btn-primary">
                              Создать адрес
                          </a>
                      </div>
                  </div>
                <%= require('html-loader!./components/address/_address_list.html') %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= require('html-loader!./components/_footer.html') %>

  </div>
</div>

<!-- Modal address delete confirmation -->
<%= require('html-loader!./components/modals/_modalAddressDeleteConfirm.html') %>

<!-- Modal address add comment -->
<%= require('html-loader!./components/modals/_modalAddressAddComment.html') %><!-- Modal address add comment -->

<!-- Modal pre loader -->
<%= require('html-loader!./components/modals/_modalPreLoader.html') %>

<!-- Modal submit message -->
<%= require('html-loader!./components/modals/_modalSubmitMessage.html') %>

</body>
</html>
