<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blank</title>
    <style>
        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden;
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            100% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                opacity: 0;
            }
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <%= require('html-loader!./components/_sidebar.html') %>

    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $Topbar ### -->
        <%= require('html-loader!./components/_topbar.html') %>

        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            <div id='mainContent '>
                <div class="row">
                    <div class="col-md-4">
                        <div class="bgc-white p-20 bd">
                            <div class="">
                                <h3 class="lh-1">
                                    Статистика жалоб/обработок
                                </h3>
                                <br>
                                <div class="form-group">
                                    <label>Применена финансовая санкция</label>
                                    <input
                                            id="selector-of-count1"
                                            type="text"
                                            name="count"
                                            class="form-control"
                                            placeholder=""
                                    >
                                </div>
                                <div id="filter-of-count1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bgc-white p-20 bd">
                            <div class="">
                                <h3 class="lh-1">
                                    Статистика жалоб/обработок
                                </h3>
                                <br>
                                <div class="form-group">
                                    <label>Применена финансовая санкция</label>
                                    <input
                                            id="selector-of-count2"
                                            type="text"
                                            name="count"
                                            class="form-control"
                                            placeholder=""
                                    >
                                </div>
                                <div id="filter-of-count2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bgc-white p-20 bd">
                            <div class="">
                                <h3 class="lh-1">
                                    Статистика жалоб/обработок
                                </h3>
                                <br>
                                <div class="form-group">
                                    <label>Применена финансовая санкция</label>
                                    <input
                                            id="selector-of-count3"
                                            type="text"
                                            name="count"
                                            class="form-control"
                                            placeholder=""
                                    >
                                </div>
                                <div id="filter-of-count3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gap-20">
                    <!--Line Chart-->
                    <div class="col-md-12">
                        <!-- #Monthly Stats ==================== -->
                        <div class="bgc-white p-20 bd">
                            <div class="layers">
                                <h6 id="title-of-chart-line" class="lh-1">Статистика жалоб/обработок</h6>
                                <div class="layer w-100 p-20">
                                    <canvas id="selector-of-chart-line" height="220"></canvas>
                                </div>
                                <div id="filter-of-chart-line">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Bar Chart-->
                    <div class="col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 id="title-of-chart-bar" class="c-grey-900">Bar Chart</h6>
                            <div class="mT-30">
                                <canvas id="selector-of-chart-bar" height="220"></canvas>
                            </div>
                            <div id="filter-of-chart-bar">
                            </div>
                        </div>
                    </div>
                    <!--Area Chart-->
                    <div class="col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 id="title-of-chart-area" class="c-grey-900">Area Chart</h6>
                            <div class="mT-30">
                                <canvas id="selector-of-chart-area" height="220"></canvas>
                            </div>
                            <div id="filter-of-chart-area">
                            </div>
                        </div>
                    </div>
                    <!--Scatter Chart-->
                    <div class="col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 id="title-of-chart-scatter" class="c-grey-900">Scatter Chart</h6>
                            <div class="mT-30">
                                <canvas id="selector-of-chart-scatter" height="220"></canvas>
                            </div>
                            <div id="filter-of-chart-scatter">
                            </div>

                        </div>
                    </div>


                    <div class=" col-md-6">
                        <!--Easy Pie Chart-->
                        <div class="bgc-white p-20 bd">
                            <h6 id="title-of-chart-easy-pie" class="c-grey-900">Easy Pie Charts</h6>
                            <div class="mT-30">
                                <div id="selector-of-chart-easy-pie" class="peers mT-20 fxw-nw@lg+  ta-c gap-10">

                                </div>
                            </div>
                            <div id="filter-of-chart-easy-pie">
                            </div>
                        </div>

                        <!--Sparkline Chart-->
                        <div class="bgc-white p-20 bd">
                            <h6 id="title-of-chart-sparkline" class="c-grey-900">Sparkline</h6>
                            <div class="mT-30">
                                <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                                    <span class="" id="selector-of-chart-sparkline" style="width: 100%;display: block">&nbsp;</span>
                                </div>
                                <div id="filter-of-chart-sparkline">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Legalexcise - Панель управления © 2018</span>
        </footer>
    </div>
</div>


</body>
</html>
