<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container">

          <div class="bgc-white bd bdrs-3 p-20 mB-20">

            <%= require('html-loader!./components/_breadcrumb.html') %>

            <h4 class="c-grey-900 mB-20">Данные по жалобе: краткое описание жалобы</h4>
            <table class="table table-bordered">
              <tr>
                <th scope="col">Имя отправителя</th>
                <td>345345345398453</td>
              </tr>
              <tr>
                <th scope="col">Телефон</th>
                <td>45.234565</td>
              </tr>
              <tr>
                <th scope="col">Объект</th>
                <td>55.234565</td>
              </tr>
              <tr>
                <th scope="col">Email</th>
                <td>4238476234237</td>
              </tr>
              <tr>
                <th scope="col">Сообщение</th>
                <td>Рога и копыта</td>
              </tr>
              <tr>
                <th scope="col">Тип</th>
                <td>Киоск</td>
              </tr>
              <tr>
                <th scope="col">Статус анонимности</th>
                <td>Алкогольная</td>
              </tr>
              <tr>
                <th scope="col">Код ТО</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Код НП</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Исполнитель ДФС</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Номер жалобы</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Дата/время получения жалобы</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th>=== Общая информация ===</th>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th scope="col">Название СПД</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Код СПД</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Адрес хозяйнической единицы</th>
                <td>Активная</td>
              </tr>
              <tr>
                <th scope="col">Номер лицензии</th>
                <td>4574564653453</td>
              </tr>
              <tr>
                <th>=== Принятые меры ===</th>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th scope="col">Дата проверки</th>
                <td>12.05.2018</td>
              </tr>
              <tr>
                <th scope="col">Суть установленных нарушений</th>
                <td>Не выдали чек, грубят покупателям, торгуют без лицензии</td>
              </tr>
              <tr>
                <th scope="col">Протокол</th>
                <td>4574564653453</td>
              </tr>
              <tr>
                <th scope="col">ФИО проверяющего</th>
                <td>И.И. Иванович</td>
              </tr>
              <tr>
                <th>=== Аналитика ===</th>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <th scope="col">Применены финансовые санкции</th>
                <td>14235253 грн</td>
              </tr>
              <tr>
                <th scope="col">Конфисковано товаров</th>
                <td>43534</td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Copyright © 2017 Designed by <a href="https://colorlib.com" target='_blank' title="Colorlib">Colorlib</a>. All rights reserved.</span>
    </footer>
  </div>
</div>
</body>
</html>
