<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Главная</a>
                <a class="breadcrumb-item active" href="#">Список жалоб</a>
              </nav>
            </div>
            <div class='col-md-12'>
              <div class="layers bd bgc-white p-20">
                <table id="homepageTable" class="table table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th>Проведено<br> перевірок</th>
                    <th>Застосовано штрафних <br>санкцій, грн</th>
                    <th>Вилучено продукції, <br>пляш./пач.</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0</td>
                    <td>0,00 грн.</td>
                    <td>0</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12">
              <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">Список жалоб</h4>
                <table id="complaintListTable" class="table table-striped table-bordered" cellspacing="0"
                       width="100%">
                  <thead>
                  <tr>
                    <th>Дата получения</th>
                    <th>Адрес</th>
                    <th>Компания</th>
                    <th>Текст жалобы</th>
                    <th>Код НП</th>
                    <th>Код ТО</th>
                    <th>Код отдела ДФС</th>
                    <th>Исполнитель ДФС</th>
                    <th>Статус жалобы</th>
                    <th>Кол-во конфискованого товара</th>
                    <th>Протокол составлен от</th>
                    <th>Финансовая санкция</th>
                    <th>Операции</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr>
                    <th>Дата получения</th>
                    <th>Адрес</th>
                    <th>Компания</th>
                    <th>Текст жалобы</th>
                    <th>Код НП</th>
                    <th>Код ТО</th>
                    <th>Код отдела ДФС</th>
                    <th>Исполнитель ДФС</th>
                    <th>Статус жалобы</th>
                    <th>Кол-во конфискованого товара</th>
                    <th>Протокол составлен от</th>
                    <th>Финансовая санкция</th>
                    <th>Операции</th>
                  </tr>
                  </tfoot>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= require('html-loader!./components/_footer.html') %>
  </div>
</div>

<%= require('html-loader!./components/modals/complaint/_modalAddNpCode.html') %>
<%= require('html-loader!./components/modals/complaint/_modalAddToCode.html') %>

<%= require('html-loader!./components/modals/complaint/_modalComplaintDeleteConfirm.html') %>
<%= require('html-loader!./components/modals/complaint/_modalComplaintToAddressConfirm.html') %>
<%= require('html-loader!./components/modals/complaint/_modalConfiscatedGoods.html') %>
<%= require('html-loader!./components/modals/complaint/_modalComplaintProtocolDrawnUp.html') %>
<%= require('html-loader!./components/modals/complaint/_modalComplaintFinancialSanctions.html') %>
<%= require('html-loader!./components/modals/complaint/_modalComplaintDfsDepartmentCode.html') %>
<%= require('html-loader!./components/modals/complaint/_modalComplaintDfsExecutor.html') %>


<!-- Modal pre loader -->
<%= require('html-loader!./components/modals/_modalPreLoader.html') %>

<!-- Modal submit message -->
<%= require('html-loader!./components/modals/_modalSubmitMessage.html') %>
</body>
</html>
