<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load',() => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    },300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <%= require('html-loader!./components/_breadcrumb.html') %>

            <h4 class="c-grey-900 mB-20">Управление жалобой: название жалобы</h4>
            <form id="formComplaintEdit" class="row">


              <div class="col-md-12">
                <h5>Контакты</h5>
              </div>


              <div class="col-md-3 form-group">
                <label for="name">Имя отправителя</label>
                <input type="text" name="name" class="form-control" id="name"
                       placeholder="Имя отправителя">
                <div class="invalid-feedback"></div>
              </div>

              <div class="col-md-3 form-group">
                <label for="telephone">Телефон</label>
                <input type="phone" name="telephone" class="form-control" id="telephone"
                       placeholder="Введите номер телефона">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="company">Объект</label>
                <input type="text" name="company" class="form-control" id="company"
                       placeholder="Укажите тип">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email"
                       placeholder="Введите номер телефона">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="message">Сообщение</label>
                <input type="text" name="message" class="form-control" id="message"
                       placeholder="Введите сообщение">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="type">Тип жалобы</label>
                <input type="text" name="type" class="form-control" id="type"
                       placeholder="Укажите тип жалобы">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-6 form-group">
                <label for="status">Статус</label>
                <select id="status" class="form-control" name="status">
                  <option value="">Выберите...</option>
                  <option value="verification_possible">Возможно проведение проверки</option>
                  <option value="verification_impossible">Невозможность проведения проверки</option>
                  <option value="processed">Проведена проверка</option>
                  <option value="transferred_to_oy">Передано в ОУ</option>
                  <option value="in_processing">Обрабатывается</option>
                </select>`
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="to_code">Код ТО </label>
                <input type="text" name="to_code" class="form-control" id="to_code"
                       placeholder="">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="np_code">Код НП </label>
                <input type="text" name="np_code" class="form-control" id="np_code"
                       placeholder="">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="dfs_department_code">Код отдела DFS</label>
                <input type="text" name="dfs_department_code" class="form-control" id="dfs_department_code"
                       placeholder="">
                <div class="invalid-feedback"></div>
              </div>

              <div id="addressSelect" class="col-md-12 form-group">
                <label>Адресс</label>
                <multiselect
                  v-model="value"
                  deselect-label=""
                  track-by="address"
                  label="address"
                  placeholder=""
                  :options="options"
                  :searchable="false"
                  :allow-empty="false"
                  @select="onSelect"
                >
                  <template
                    slot="singleLabel"
                    slot-scope="{ option }"
                  >
                    {{ option.address }}
                  </template>
                </multiselect>

                <div class="invalid-feedback"></div>
              </div>

              <!--Эти поля обязательно надо заполнить если есть чем, т.к. значения по умолчанию для селекта берутся из этих инпутов-->
              <input name="address_id" type="hidden">
              <input name="address" type="hidden">
              <input  name="lng" type="hidden">
              <input name="lat" type="hidden">


              <div class="col-md-12">
                <h5>Общая информация</h5>
              </div>
              <div class="col-md-3 form-group">
                <label for="spd_name">Название СПД</label>
                <input type="text" name="spd_name" class="form-control" id="spd_name"
                       placeholder="Введите название СПД">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="spd_code">Код СПД</label>
                <input type="text" name="spd_code" class="form-control" id="spd_code"
                       placeholder="Введите код СПД">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="spd_address">Адрес хозяйнической единицы</label>
                <input type="text" name="spd_address" class="form-control" id="spd_address"
                       placeholder="Введите адрес хозяйнической единицы">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="spd_license">Номер лицензии</label>
                <input type="text" name="spd_license" class="form-control" id="spd_license"
                       placeholder="Введите номер лицензии">
                <div class="invalid-feedback"></div>
              </div>


              <div class="col-md-12">
                <h5>Принятые меры</h5>
              </div>

              <div class="col-md-3 form-group">
                <label for="verified_at">Дата проверки</label>
                <input type="text" id="verified_at" name="verified_at" class="form-control"
                       placeholder="дд.мм.гггг" data-provide="datepicker">
                <div class="invalid-feedback"></div>
              </div>
              <div class="col-md-3 form-group">
                <label for="protocol">Протокол</label>
                <input type="text" name="protocol" class="form-control" id="protocol"
                       placeholder="Введите протокол">
                <div class="invalid-feedback"></div>
              </div>

              <div class="col-md-3 form-group">
                <label for="dfs_executor">ФИО проверяющего (доделать)</label>
                <input type="text" name="dfs_executor" class="form-control" id="dfs_executor"
                       placeholder="Введите ФИО проверяющего">
                <div class="invalid-feedback"></div>
              </div>

              <div class="col-md-12 form-group">
                <label>Суть установленных нарушений</label>
                <ul id="violationsList">
                  <!--Элементы добавляются скриптом-->
                </ul>
              </div>

              <div class="col-md-12 form-group">
                <label for="comment">Комментарий</label>
                <textarea class="form-control" placeholder="Введите комментарий" name="comment" id="comment"></textarea>

                <div class="invalid-feedback"></div>
              </div>


              <div class="col-md-12">
                <button type="button" data-complaint-id="143534" class="btn btn-primary complaintSubmit">
                  Сохранить
                </button>
                <!--

                data-complaint-id - id жалобы
                data-redirect - адрес для редиректа после сохранения
                -->
                <button
                  type="button"
                  data-redirect="/complaint-view.html"
                  data-complaint-id="143534"
                  class="btn btn-primary complaintSubmit"
                >
                  Сохранить и закрыть
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <%= require('html-loader!./components/_footer.html') %>
  </div>
</div>
<!-- Modal address delete confirmation -->
<%= require('html-loader!./components/modals/_modalAddressDeleteConfirm.html') %>

<!-- Modal pre loader -->
<%= require('html-loader!./components/modals/_modalPreLoader.html') %>

<!-- Modal submit message -->
<%= require('html-loader!./components/modals/_modalSubmitMessage.html') %>

<%= require('html-loader!./components/modals/_modalAddressMap.html') %>

</body>
</html>
