<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blank</title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <%= require('html-loader!./components/_sidebar.html') %>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <%= require('html-loader!./components/_topbar.html') %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>

        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item w-100 col-12">
            <div class="row gap-20">

              <div class='col-md-12'>
                <div class="layers bd bgc-white p-20">
                  <table id="homepageTable" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                      <th>Надійшло<br> скарг,<br>з них</th>
                      <th>На розгляді в <br>управлінні контролю <br>за обігом та <br>оподаткуванням
                        <br>підакцизних товарів
                      </th>
                      <th>Передано до ОУ</th>
                      <th>Знаходяться в ГУ НП <br>(продаж неповнолітнім)</th>
                      <th>Недоцільність<br> проведення <br>перевірок</th>
                      <th>Проведено<br> перевірок</th>
                      <th>Застосовано штрафних <br>санкцій, грн</th>
                      <th>Вилучено продукції, <br>пляш./пач.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>88</td>
                      <td>69</td>
                      <td>2</td>
                      <td>2</td>
                      <td>15</td>
                      <td>0</td>
                      <td>0,00 грн.</td>
                      <td>0</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>
          </div>
          <div class="masonry-item w-100 col-12">
            <!-- #Site Visits ==================== -->
            <div class="bd bgc-white">
              <div class="peers fxw-nw@lg+ ai-s">
                <div class="peer peer-greed w-100p@lg+ w-100@lg- p-20">
                  <div class="layers">
                    <div class="layer w-100 mB-10">
                      <h6 class="lh-1">Карта адресов</h6>
                    </div>
                    <div class="layer w-100">
                      <div id="google-map-addresses" style="padding-bottom: 75%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Legalexcise - Панель управления © 2018</span>
    </footer>
  </div>
</div>
<%= require('html-loader!./components/modals/_modalAddressMarkerMap.html') %>


</body>
</html>
