@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';

.cluster_license--canceled {
  background-image: url(../static/images/cluster_marker_canceled.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.cluster_license--active {
  background-image: url(../static/images/cluster_marker_active.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.filter-counter{
  width: 100%;
}

.filter-counter .form-group{
  width: 100%;
}
.vdatetime {
  width: 100%;
}

.vdatetime ~ .invalid-tooltip {
  display: block;
}


.sorting_1 {
  min-width: 325px !important;
}
